<!--Sign up-->
<div class="h-screen flex flex-row">
    <div class="w-1/2 bg-blue-500 flex items-center justify-center">
        <div class="p-20">
            <!-- Left half content -->
            <img src="/images/ready-to-spinet.png" alt="Logo displaying 'Ready to Spinet?'" class="max-w-80 pb-10">
        </div>
    </div>
    <div class="w-1/2 flex items-center justify-center">
        <div class="p-10 gap-8 w-10/12">
          <!-- Right half content -->
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <h3 class="py-6">Create Account</h3>
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <h3 class="py-6">Create Password</h3>
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %> <br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div >
              <%= f.submit "Start Spinning", class: "btn-primary actions my-8"%>
            </div>
          <% end %>

          <div class="flex flex-row gap-3 pt-2">
            <p>Already have an account?</p> 
            <%= render "devise/shared/links", class:"link" %>
          </div>
        </div>
    </div>
</div>
