<!-- Sign in -->
<div class="h-screen md:flex">
    <div class="md:w-1/2 bg-blue-500 flex items-center justify-center overflow-hidden">
        <div class="p-20">
            <!-- Left half content -->
            <img src="/images/ready-to-spinet.png" alt="Logo displaying 'Ready to Spinet?'" class="max-w-40 md:max-w-80 md:pb-10">
        </div>
    </div>
    <div class="md:w-1/2 flex items-center justify-center overflow-hidden">
        <div class="p-10 gap-8 w-full lg:w-10/12">
          <!-- Login form -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <h3 class="py-6">Welcome Back</h3>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="flex field items-center gap-2">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="my-6">
              <%= f.submit "Log In", class: "btn-primary actions" %>
            </div>
          <% end %>

          <div class="md:flex gap-3">
            <p>Don't have an account?</p> 
            <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
</div>
